<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3 class="text-muted mt0">
        About Us
    </h3>
    <div class="form-horizontal container pdt box box-solid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-user-secret">&nbsp;&nbsp;&nbsp;Developer</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-warning" href="#">
                            <div class="text-warning"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;<strong>Tayyab Shahid</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-info" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tayyab-shahid-b3742037">
                            <div class="text-info"><span class="fa fa-linkedin-square"></span>&nbsp;&nbsp;&nbsp;<strong>LinkedIn</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-success" href="#">
                            <div class="text-success"><span class="fa fa-envelope"></span>&nbsp;&nbsp;&nbsp;<strong><u>tayyab.shahid@gmail.com</u></strong></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-smile-o">&nbsp;&nbsp;&nbsp;Friends</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-warning" href="#">
                            <div class="text-warning"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Waseem Sarwar</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-info" href="#">
                            <div class="text-info"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Ahmed Iqbal</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-danger" href="#">
                            <div class="text-danger"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Rizwan Ghouri</strong></div>
                        </a>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-warning" href="#">
                            <div class="text-warning"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Sandeep Suryavanshi</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-info" href="#">
                            <div class="text-info"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Waseem Abbas</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-danger" href="#">
                            <div class="text-danger"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Ali Naveed</strong></div>
                        </a>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-warning" href="#">
                            <div class="text-warning"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Haseeb Akhtar</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-info" href="#">
                            <div class="text-info"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Syed Imran</strong></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="list-group-item list-group-item-danger" href="#">
                            <div class="text-danger"><span class="fa fa-smile-o"></span>&nbsp;&nbsp;&nbsp;<strong>Muhammad Faizan</strong></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
