<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/app.css" rel="stylesheet" />
    <link href="/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="form-horizontal container pdt mt">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><span class="fa fa-times fa-2x">&nbsp;Something Unexpected Occurred!!!</span></h4>
            <p><span class="fa fa-envelope fa-2x">&nbsp;Please get in touch with us at <span class="label label-primary fa fa-user-secret">&nbsp;tyb@eleagues.online</span></span></p>
        </div>
    </div>
</body>
</html>
